<% @reviews.each do |review| %>
  <div class='rate'>
    <p class='rate__stars'>
      <span class='text--large'>
        <span class='icon icon--star <%= "is-active" if review.rating >= 1 %>'></span>
        <span class='icon icon--star <%= "is-active" if review.rating >= 2 %>'></span>
        <span class='icon icon--star <%= "is-active" if review.rating >= 3 %>'></span>
        <span class='icon icon--star <%= "is-active" if review.rating >= 4 %>'></span>
        <span class='icon icon--star <%= "is-active" if review.rating == 5 %>'></span>
      </span>
    </p>
    <p class='rate__comment'><%= simple_format(review.review) %></p>
    <p class='text--green-dark text--small rate__author'>
      <i>Published <%= time_ago_in_words(review.created_at) %> ago by <%= review.name %></i>
    </p>
  </div>
<% end %>

<% unless @reviews.last_page? %>
  <%- url = main_app.review_infinite_product_path(@product, page: ((params[:page].to_i + 1 if params[:page]) || 2)) %>
  <div ic-append-from="<%= url %>" ic-target='.infiniteReviews' ic-include=".pageHolder:last-of-type" ic-trigger-on='scrolled-into-view' ic-indicator="#review_indicator"></div>
<% end %>
